@tailwind base;
@tailwind components;
@tailwind utilities;




.container{
@apply w-[400px] h-[700px] flex flex-col items-center justify-between bg-[#141B28] rounded-2xl overflow-hidden relative
}






/* customScrollbar.css */

/* Customizing scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    border-radius: 8px; /* Border radius of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 8px; /* Border radius of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  